/*Colors*/

$primary-color: #1c7d7a;
$secondary-color: #7F8C8D;
$active-color: #405B75;
$ascent-1-color: #2980B9;
$ascent-2-color: #F39C12;
$ascent-3-color: #C0392B;
$ascent-4-color: #134e4c;
$ascent-5-color: #0e2f2d;
$dark-green:#0e4f1d;